.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: inherit;
    transform: translate(-41%, 0);
    display: flex;
    gap: 20px;
    z-index: 1;
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 3rem;
        padding: 4%;
        border: 2px solid #000;
        border-radius: 5px;
        font-size: clamp(8px, 5vw, 1rem);
        font-weight: 600;
        color: white;
        background-color: #444;
        box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    }
    .button:active {
        box-shadow: inset -4px 4px 0 #222;
        font-size: 0.9rem;
    }

}


@media (max-width: $breakpoint-tablet) {
    .buttons {
        bottom: 35%;
    }
}

@media (max-width: $breakpoint-phone) {
    .buttons {
        bottom: 20%;
        transform: translate(-38%, 0);
    }
}